@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
h1 {
  font-family: "Shrikhand", cursive;
}

body {
  font-family: "Roboto", sans-serif;
}

.header_location {
  font-size: 16px;
  font-weight: 500;
}

.title h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
@media screen and (min-width: 1024px) {
  .title h2 {
    font-size: 40px;
  }
}
.title h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
  color: #353535;
}
.title .button {
  font-weight: 500;
  font-size: 16px;
}

.menu li {
  font-weight: 500;
  font-size: 16px;
}
.menu span {
  font-size: 14px;
}

.container_card h2 {
  font-weight: 700;
  font-size: 18px;
}
.container_card h3 {
  font-weight: 300;
  font-size: 17px;
}

footer h1 {
  font-weight: 400;
  font-size: 18px;
}

.menu_food h1 {
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
  margin: 0;
}
.menu_food h3 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  text-decoration: underline 3px;
  text-decoration-color: #99E2D0;
}
.menu_food h2 {
  font-weight: 500;
  font-size: 18px;
  text-overflow: ellipsis;
  margin: 0;
}
.menu_food p {
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

.price p {
  font-weight: 700;
  font-size: 15px;
}

.button {
  color: white;
  padding: 13px 18.75px;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
}
.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

header .__btn {
  border: none;
  background: white;
  height: 100%;
}

/*En-tête*/
header {
  align-items: center;
}
header .header_location {
  display: flex;
  gap: 17px;
  padding: 16px 0 15px 0;
  width: 100%;
  justify-content: center;
}
header .header_location i {
  width: 12px;
  height: 16px;
  color: black;
}

.header_logo {
  display: flex;
  width: 100%;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background: white;
}
.header_logo img {
  width: 197px;
  height: 36px;
  margin: 14px 0 13px 0;
}

/* en-tête pages restaurant*/
.head {
  display: flex;
  align-items: center;
}
.head .__btn {
  width: 17.2px;
  height: 16px;
}
.head .logo {
  display: flex;
  width: 100%;
  justify-content: center;
}
.head .logo img {
  width: 197px;
  height: 36px;
  margin: 14px 0 13px 0;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 22px 22px 33px 25px;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 50px 0;
    gap: 71px;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer__nav {
    display: flex;
    gap: 40px;
  }
}
footer a {
  display: flex;
  color: white;
  text-decoration: none;
  gap: 11px;
  padding: 3.5px 0;
}
footer h1 {
  margin: 0;
}
footer i {
  color: white;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*title et button*/
a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  padding: 39px 26px 57px 34px;
  background: #f6f6f6;
}

.fonction {
  padding: 48px 20px 68px 20px;
}
@media screen and (min-width: 1024px) {
  .fonction {
    margin-left: 193px;
  }
}
.fonction ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  .fonction ul {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
}
.fonction ul li {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 20px 38px 20px 0;
  background: #f6f6f6;
}
.fonction ul li a {
  display: flex;
  gap: 25px;
}
.fonction ul span {
  border: 1px solid;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  position: relative;
  left: -12px;
  padding: 5px 8px 4px 8px;
}
.fonction ul :hover {
  background: #F5EDFF;
  cursor: pointer;
}
.fonction ul :hover i {
  color: #9356DC;
}

i {
  width: 13.02px;
  height: 20px;
  color: #7E7E7E;
}

.restaurant {
  padding: 54px 17px 64px 17px;
  background: #f2f2f2;
}
@media screen and (min-width: 1024px) {
  .restaurant {
    padding-left: 194px;
    width: 100%;
  }
}
.restaurant .__card {
  display: grid;
  grid-template-rows: repeat(1fr);
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurant .__card {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant .__card a {
    flex: 1;
  }
}
.restaurant .__card .new {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 7px 9px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  block-size: 100%;
  position: relative;
}
.card img {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.container_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 12px 12.8px;
}
.container_card h2, .container_card h3 {
  margin: 0;
}

.fa-heart {
  color: black;
}
.fa-heart:hover::before {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  animation: filled-heart ease-in-out 3000ms;
}

@keyframes filled-heart {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
