footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    padding: 22px 22px 33px 25px;

    @include tablet-only {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    @include desktop-only {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 50px 0;
        gap: 71px;
    }

    .footer__nav {
        @include tablet-only {
            display: flex;
            gap: 20px;
        }

        @include desktop-only {
            display: flex;
            gap: 40px;
        }
    }

    a {
        display: flex;
        color: white;
        text-decoration: none;
        gap: 11px;
        padding: 3.5px 0;
    }

    h1 {
        margin: 0;
        margin-bottom: 16px;
    }

    i {
        color: white;
    }
}