@import "sass\utils\_variables.scss";

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header_location {
        display: flex;
        gap: 17px;
        background: $Grey2;

        & i{
            width: 12px;
            height: 16px;
        }
    }
}

header img {
    width: 197px;
    height: 36px;
    margin: 14px 0 13px 0;
}