/*En-tête*/

header {
    align-items: center;

    .header_location {
        display: flex;
        gap: 17px;
        background: $Grey2;
        padding: 16px 0 15px 0;
        width: 100%;
        justify-content: center;

        & i{
            width: 12px;
            height: 16px;
            color: black;
        }
    }
}

.header_logo {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background: white;
    
    & img{
    width: 197px;
    height: 36px;
    margin: 14px 0 13px 0;
    }
}

/* en-tête pages restaurant*/

.head {
    display: flex;
    align-items: center;

    .__btn {
        $Grey: black;
        width: 17.2px;
        height: 16px;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
        & img {
            width: 197px;
            height: 36px;
            margin: 14px 0 13px 0;
        }
    }
}