/*En-tête*/

header {

    .header_logo {
        display: flex;
        width: 100%;
        justify-content: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        background: #FFFFFF;
    
        & img{
            width: 197px;
            height: 36px;
            margin: 15px 0;

            @include desktop-only {
                margin: 30px 0;
            }
        }
    }

    .header_location {
        display: flex;
        gap: 17px;
        background: $Grey2;
        padding: 16px 0 15px 0;
        width: 100%;
        justify-content: center;

        & i{
            width: 12px;
            height: 16px;
            color: black;
        }
    }
}



/* en-tête pages restaurant*/

.head {
    display: flex;
    align-items: center;

    .__btn {
        $Grey: black;
        width: 17.2px;
        height: 16px;
    }

    .logo {
        display: flex;
        width: 100%;
        justify-content: center;
        & img {
            width: 197px;
            height: 36px;
            margin: 14px 0 13px 0;
        }
    }
}