/*title et button*/
a {
    text-decoration: none;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

.title {
    text-align: center;
    padding: 39px 26px 57px 34px;
    background: #f6f6f6;
}

.fonction {
    padding: 48px 20px 68px 20px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 0;
            list-style-type: none;

            li {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                padding: 20px 0px;
                background: #f6f6f6;

                a {
                    display: flex;
                    gap: 25px;
                }
            }

            span {
                border: 1px solid;
                border-radius: 50%;
                background: $primary;
                color: white;
                position: relative;
                left: -12px;
                padding: 5px 8px 4px 8px;
            }

            :hover {
                background: #F5EDFF;
                cursor: pointer;
                i { color: $primary;}
                
            }
        }
    
}

i {
    width: 13.02px;
    height: 20px;
    color: #7E7E7E;
}

.restaurant {
    display: grid;
    grid-template-rows: repeat(1fr);
    padding: 54px 17px 64px 17px;
    background: #f2f2f2;
    gap: 20px;
    
    .new {
        background: $tertiary;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        color: #008766;
        padding: 7px 9.63px 6px 9px;

    }
}

.card {
    block-size: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    img {
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
}

.container_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px 12px 12.8px;

    h2, h3 {
        margin: 0;
    }

    i {
        width: 21.68px;
        height: 21px;
        color: black;
    }
}