body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Animation loader */
.body_contain {
    opacity: 0;
    animation: body_appear 0ms forwards;
    animation-delay: 5000ms
}

.loader {

  display: flex;
  gap: 25px;
  position: fixed;
  top: 50%;
  left: 25%;
  opacity: 1;
  animation: loader_disapear 500ms forwards;
  animation-delay: 5000ms;

  @include desktop-only {
    left: 50%;
  }

  svg {
    width: 50px;
    height: auto;
    animation: loader 1000ms ease-in 5 alternate;
  }
}

.loader svg:nth-child(1) {
  animation-delay: -240ms;
}

.loader svg:nth-child(2) {
  animation-delay: -120ms;
}

.loader svg:nth-child(3) {
  animation-delay: 0;
}

@keyframes loader {
  0% {
    height: 128px;
  }

  50% {
    height: 64px;
  }

  100% {
    height: 64px;
  }
}

@keyframes loader_disapear {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes body_appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*title et button*/
a {
    text-decoration: none;
    color: black;

    &:hover {
        cursor: pointer;
    }
}

.title {
    text-align: center;
    padding: 39px 26px 57px 34px;
    background: #f6f6f6;
}

.fonction {
    padding: 48px 20px 68px 20px;
    

    @include desktop-only{
        padding: 50px 0 50px 180px;
    }

        ul {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 0;
            list-style-type: none;

            @include tablet-only {
                align-items: center;
            }

            @include desktop-only {
                display: flex;
                flex-direction: row;
                gap: 36px;
            }

            li {
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
                border-radius: 20px;
                padding: 20px 38px 20px 0;
                background: #f6f6f6;

                a {
                    display: flex;
                    gap: 25px;
                    align-items: center;
                }
            }

            span {
                border: 1px solid;
                border-radius: 50%;
                background: $primary;
                color: white;
                position: relative;
                left: -12px;
                padding: 5px 8px 4px 8px;

                &:hover {
                    background: $primary;
                    color: white;
                }
            }

            :hover {
                background: #F5EDFF;
                cursor: pointer;
                i { color: $primary;}
                
            }
        }
    
}

i {
    width: 13.02px;
    height: 20px;
    color: #7E7E7E;
}

.restaurant {
    padding: 54px 17px 64px 17px;
    background: #f2f2f2;

    @include desktop-only {
        padding: 30px 180px;
    }

    .__card {
        display: grid;
        grid-template-rows: repeat(1fr);
        gap: 20px;

        @include tablet-only {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop-only {
            gap: 50px 100px;
        }

        a {
            @include desktop-only {
                flex: 1;
            }
        }

        .new {
            position: absolute;
            right: 15px;
            top: 10px;
            padding: 7px 9px;
            color: #008766;
            background: $tertiary;
            border-radius: 2px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }
        
    }
}

.card {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    block-size: 100%;
    position: relative;

    img {
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
}

.container_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 25px 12px 12.8px;

    h2, h3 {
        margin: 0;
    }
}

.heart-icon {

    .fa-regular {
        color: black;
    }

    .fa-solid {
    position: relative;
    opacity: 0;
    animation: filled-heart-out 1000ms ease-in-out forwards;
    &::before{
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }
     
    &:hover {
        animation: filled-heart-in 1000ms ease-in-out forwards;
    }
}

}

@keyframes filled-heart-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
  }

  @keyframes filled-heart-out {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
  }
