body {
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}
/**** Image assiette du restaurant comme background ****/
.bg_img {
    width: 100%;
    height: 220px;
    z-index: 1;
    position: relative;

    img {
        width: 100%;
        object-fit: cover;
        height: 275px;
    }
}
/**** menu du restaurant ****/
.menu_food {
    padding: 32px 17px;
    background: $Greywhite;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;

    @include desktop-only {
        margin: 0 192px;
        padding: 30px 210px;
    }

    @include tablet-only {
      align-items: center;
    }
    
    .fa-heart {
        width: 22px;
        height: 21px;
        margin-left: 20px;

        &:hover {
          cursor: pointer;
          &::before {
          font-weight: bold;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          color: transparent;
          background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
          }
        }  
    }
}

.menu_card {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 0;
    opacity: 0;
    animation: appear 3000ms ease forwards;
    // decalage d'apparition des differentes parties
    &:nth-child(3) {
        animation-delay: 2000ms;
      }
    
      &:nth-child(4) {
        animation-delay: 4000ms;
      }

    .card {
        background: white;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            // animation d'apparition de l'option check
            .check {
              width: 15%;
              transform: scaleX(1);
      
              i {
                transform: rotate(360deg);
                margin-left: 0;
              }
              }        
          }
          // bloc de l'option check
          .check {
            width: 0;
            display: flex;
            padding: 0;
            background: $tertiary;
            border-radius: 0 15px 15px 0;
            justify-content: center;
            align-items: center;
            transition: all 500ms;
    
            i {
              margin-left: 20px;
              color: $tertiary;
              border: 2px solid white;
              border-radius: 50%;
              background: white;
              padding: 2px;
              transition: all 500ms;
              }
            }

        .container__card {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 12.03px 0;
            align-items: flex-end;
        }
    }

    .plate {
        flex: 1;
        max-width: 80%;
        padding-left: 15px;
    }

    .price {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 15px;
    }
}
// apparition des différents plats par section : entrées, plats et desserts
  @keyframes appear {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}



  


